.banner-container {
  display: table;
}

.banner-title {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

div.banner-title div {
  text-align: center;
}

div.banner-title div:first-of-type p:first-of-type, div.banner-title div:first-of-type p:nth-child(2) {
  font-family: "Archivo Black";
  font-size: 50px;
  margin: 0;
}

div.banner-title div:nth-child(2) p:first-of-type, div.banner-title div:nth-child(2) p:nth-child(2){
  font-family: "Tenor Sans";
  font-size: 40px;
  margin: 0;
}

div.banner-title div:nth-child(2) {
  margin-top: 2em;
}


.logo {
  position: fixed;
  float: left;
  margin: 20px 36px;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  font-family: "Archivo Black";
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black-navbar ul {
  background: #000;
}

nav ul li a.white-text {
  color: #fff;
}

nav div.logo.white-logo {
  color: #fff;
} 

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-left: 15px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black-navbar ul {
    background: #000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .menu-icon {
    display: block;
  }

  div.banner-title div:first-of-type p:first-of-type, div.banner-title div:first-of-type p:nth-child(2) {
    font-family: "Archivo Black";
    font-size: 35px;
    margin: 0;
  }
  
  div.banner-title div:nth-child(2) p:first-of-type, div.banner-title div:nth-child(2) p:nth-child(2){
    font-family: "Tenor Sans";
    font-size: 25px;
    margin: 0;
  }
}