html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Quicksand;
}

header {
  width: 100%;
  height: 100vh;
  background: url("./images/portfolio-banner.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.page-content {
  width: 85%;
  margin: 2em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.page-content-grey {
  width: 100%;
  background-color: #eeeeee;
}